body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Times New Roman","Catamaran", "Roboto", "Helvetica", "Arial", sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

